<% if @order.state == "address" && (@order.shipping_address.fedex_suggestions.any? || ship_address.fedex_response.confirmed == false) %>
  <div class="ups-address-validation-skip-container">
    <label>
      <input type="checkbox" />
      <%= Spree.t(:skip_ups_address_validation) %>
    </label>
  </div>
  <div class="ups-address-validation-suggestions">
    <h3>Suggested Addresses</h3>
    <% unless @order.shipping_address.fedex_suggestions.any? %>
      <%= t(:fedex_no_suggestions) %>
    <% end %>

    <% @order.shipping_address.fedex_suggestions.each do |suggestion| %>
      <div class="ups-address-validation-suggestion">
        <% state = Spree::State.find_by(abbr: suggestion.state) %>
        <div class="ups-address-validation-suggestion-street1"><%= suggestion.street1 %></div>
        <div class="ups-address-validation-suggestion-street2"><%= suggestion.street2 %></div>
        <div class="ups-address-validation-suggestion-city-state-zip">
          <div class="ups-address-validation-suggestion-city"><%= suggestion.city %></div>
          <div class="ups-address-validation-suggestion-state" data-state-id="<%= state.id %>"><%= state.name %></div>
          <div class="ups-address-validation-suggestion-zip"><%= [suggestion.zip, suggestion.zip_extended].join("-") %></div>
        </div>
        <div class="ups-address-validation-suggestion-use-this-one">
          <button>Use this address</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
